@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
.App {
  text-align: center;
}
.template {
  width: 33%;
  display: inline-block;
  border: 10px solid transparent;
}
.template .image {
  width: 100%;
  height: 500px;

  border: 1px solid black;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.meme {
  text-align: center;
}
.meme img {
  width: auto;
  height: 500px;
  border: 1px solid black;
}
.meme input {
  margin: 10px;
}
.meme button {
  padding: 10px;
}
