.container {
  font-family: "Quicksand", sans-serif;
  position: relative;
  border-radius: 1rem;
  width: 18rem;
  height: fit-content;
  background-color: white;
  margin: 1rem auto;
  text-align: center;
  padding: 2em;
  text-decoration: none;
}

.container img {
  width: 150px;
  height: 200px;
  margin-bottom: 1rem;
}
.title,
.description,
p {
  text-overflow: ellipsis;
  text-decoration: none;
  overflow: hidden;
  color: var(--nav-bar-light-blue);
  white-space: nowrap;
}
