.container {
  border-radius: 1rem;

  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  padding: 2em;
  grid-column-gap: 5px;
  grid-row-gap: 1rem;
}

.loader {
  border: 16px solid var(--nav-bar-light-blue); /* Light grey */
  border-top: 16px solid var(--heart-pink); /* Blue */
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin: 4rem auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
