@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: white;
}
.main-menu,
.game-canvas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
}
.main-menu {
  flex-direction: column;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.menu-btns {
  font-family: "Open Sans", sans-serif;
  padding: 2rem 4rem;
  font-size: 1.5rem;
  margin-top: 3rem;
  transition: 250ms ease-out;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.menu-btns:hover {
  transform: scale(1.1);
  cursor: pointer;
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  transition: 250ms ease-in;
}
.disabled {
  display: none;
}
.game-canvas {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
.game-container {
  flex-direction: column;
  text-align: center;
  width: 600px;
  height: 80vh;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.score {
  font-size: 1.5rem;
}
input,
select {
  display: block;
  margin: 20px;
  min-width: 450px;
  height: 40px;
  border: none;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  color: white;
  font-size: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  outline: none;
}
option {
  font-family: "Roboto", sans-serif;
  background: #111;
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px); */

  font-size: 1.5rem;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}
option:hover {
  box-shadow: inset 0 0 10px 100px rgba(252, 70, 107, 1);
}
label {
  color: #111;
  font-size: 1.5rem;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 4rem;
  transition: 500ms ease-in-out;
}

.random {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.heading {
  margin-top: 20px;
}
.game-container button {
  color: white;
  min-width: 120px;
  height: 50px;
  margin-top: 5px;
  background: rgba(255, 255, 255, 0);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 250ms ease-out;
}
.game-container button:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 250ms ease-in;
}
.option-name {
  margin: 10px;
  font-size: 1.25rem;
  color: black;
}
