* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
}
.main-menu,
.game-canvas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
}
.main-menu {
  background-color: black;
}
.game-container {
  background-color: beige;
}
.menu-btns {
  border: none;
  background-color: yellow;
  padding: 2rem 4rem;
  font-size: 1.5rem;
  border-radius: 10px;
}
.disabled {
  display: none;
}
.game-canvas {
  background-color: beige;
}
.game-container {
  width: 600px;
  height: 80vh;
  border-radius: 10px solid cyan;
  background-color: black;
}
