@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: brown;
  color: white;
}
h1 {
  text-align: center;
  font-family: "Viaoda Libre", cursive;
  color: white;
  font-size: 4.5rem;
  margin: 1rem 0;
}
p {
  pointer-events: none;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#grid {
  border-radius: 0.5rem;
  padding: 10px;
  background-color: #111;
  max-width: 1100px;
  min-height: 600px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.tile {
  position: relative;
  box-sizing: border-box;
  background-color: rgb(29, 6, 92);
  width: 100px;
  height: 150px;
  border: 3px solid white;
  margin: 5px;
  color: white;
  font-size: 4rem;

  text-align: center;
  border-radius: 0.25rem;
  transition: 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
  perspective: 1000px;
}

.front,
.rear {
  pointer-events: none;
  user-select: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.rear {
  transform: rotateY(180deg);
  background: rgb(22, 76, 190);
  border: 3px solid black;
}
.tile.spin {
  transform: rotateY(180deg);
}
.tile.spin.disabled {
  visibility: hidden;
}
#container {
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-around;
  width: 50%;
}
#result,
#score {
  display: flex;
  font-family: "Roboto", sans-serif;
  width: 120px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #111;
  border-radius: 0.25rem;
  font-size: 1.25rem;
}
