.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form > input {
  width: 200px;
  border-radius: 2px;
  background-color: #cdcdcd;
  height: 23px;
  font-size: 25px;
  outline: none;
}
form > button {
  width: 80px;
  height: 50px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: tomato;
  color: white;
}
form > button:hover {
  transform: scale(1.1);
  transition: 250ms ease-in;
  cursor: pointer;
}
