* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  height: 100vh;
  text-align: center;
}
.chessBoard {
  width: 180px;
  height: 180px;
  border: 10px solid black;
  margin: 15px auto;
}
