.black,
.white {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.black:hover,
.white:hover {
  transform: scale(1.1);
  transition: 250ms ease-in;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
