img {
  width: 150px;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: pink;
  margin-left: 25px;
}
.card {
  position: relative;
  width: 500px;
  height: 200px;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 10 4px 2px rgba(0, 0, 0, 0.4);
}

.card p {
  font-size: 1.25rem;
  position: absolute;
  right: 50px;
  bottom: 50px;
  padding: 10px;
}
.green {
  border-radius: 25px;
  background-color: orange;
  color: white;
}
.warning {
  border-radius: 25px;
  background-color: red;
  color: white;
}
