* {
  box-sizing: border-box;
}
.board > div {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.board {
  width: 200px;
  height: 200px;
  line-height: 0;
}
.black {
  background-color: black;
}
