* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
.board > div {
  width: 15px;
  height: 15px;
  display: inline-block;
}
.board {
  width: 150px;
  height: 150px;
  line-height: 0;
  margin: 0 auto;
}
.black {
  background-color: black;
}
