.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.imagetag {
  overflow: hidden;
  width: 100%;
  height: auto;
}
.container {
  padding: 8px;
  text-align: center;
  margin: auto auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  width: 320px;
}
