@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body {
  background-color: rgb(246, 255, 255);
}
.container {
  max-width: 1000px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}
.navbar .navbar-nav {
  margin-left: auto;
}
.navbar .navbar-nav img {
  width: 45px;
  height: 45px;
}
.navbar .navbar-nav i {
  font-size: 1.5em;
  color: #000;
  padding: 0px 5px;
}
.navbar .search {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar .search input {
  width: 200px;
}

.story {
  display: block;
  margin-top: 100px;
}

.story {
  display: block;
  margin-top: 100px;
  white-space: nowrap;
  padding: 10px;
  overflow-x: auto;
  /* overflow-y: scroll; */
}
.story::-webkit-scrollbar {
  display: none;
}
.story .story-img {
  width: 55px;
  height: 55px;
  border: 2px solid #c62f91;
  border-radius: 100%;
  display: inline-block;
  margin: 0px 5px;
}
.story .story-img img {
  display: inline-block;
  border-radius: 100%;
  border: 2px solid #fff;
  width: 100%;
  height: 100%;
}
.post {
  margin: 40px 0;
}

.post .class-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.post .buttons {
  margin: 10px 0;
}
.post .buttons i {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 10px;
}
.bi.bi-heart-fill {
  color: pink;
}
