@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}
.form {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.form input {
  padding: 0 10px;
}
.form button {
  margin: 0px 10px;
}
.weather {
  text-align: center;
}
.card {
  margin-top: 50px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
  width: 400px;
  background-color: #4e34f3;
  color: white;
  padding-right: 2rem;
  padding-bottom: 2rem;
  font-family: "Quicksand", sans-serif;
}
.card img {
  width: 30%;
}
.App.dark {
  background-color: #111;
}
.toggle-theme > button {
  position: fixed;
  right: 1rem;
  top: 0.5rem;
}
.city {
  margin: auto 0;
}
.temperature {
  font-size: 2rem;
}
.unit {
  font-size: 0.8rem;
  vertical-align: middle;
  margin-left: 0.5rem;
}
.conditionText {
  font-size: 0.8rem;
  vertical-align: middle;
}

.col.city {
  margin-bottom: 0;
}
.weathericon.col {
  font-weight: 500;
}
img.dayIcons {
  width: 80%;
}
.days {
  margin-top: 0.5rem;
}
.mintemp {
  color: #adacb1;
}
