* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: #189ab4;
}
.main {
  height: 100vh;
}
#add-btn {
  border: none;
  background-color: #05445e;
  height: 4rem;
  width: 20%;
  max-width: 75px;
  font-size: 4rem;
  color: white;
}
.add input {
  height: 4rem;
  width: 60%;
  font-size: 4rem;
  border: none;
  max-width: 600px;
}
.add {
  margin-top: 1.5rem;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
#notes {
  margin-top: 4rem;
}
.note-body {
  color: white;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  transition: 250ms ease-in;
}
.note-text {
  width: 60%;
}
.delete-btn {
  font-size: 20px;
  margin: 5px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 5rem;
  width: 20%;
  max-width: 75px;
  font-size: 4rem;
  color: white;
  border: none;
  transition: 500ms ease-in;
}
.delete-btn:hover {
  border: 3px #75e6da solid;
  cursor: pointer;
}
.disabled {
  text-decoration: line-through;
}
.status.delete-btn {
  background-color: #05445e;
}
.delete.delete-btn:hover{
    background-color: rgb(158, 21, 21);
}